.accountPageContainer {
    :global {
        .item-container {
            border: 1px solid #e0deda;
            height: 175px;
            flex: 1;
            padding: 25px;

            .label {
                font-weight: bold;
                font-size: 18px;
            }

            .quantity-container {
                height: 100%;
                width: 100%;

                .quantity {
                    color: #ffa100;
                    font-weight: bold;
                    font-size: 60px;
                }
            }

            .link {
                padding-top: 15px;
                border-top: 1px solid #e0deda;
                color: #3f5895;
                font-size: 18px;

                &:hover {
                    color: var(--likes-color) !important;
                }
            }
        }
    }
}