.storyItemContainer {
    border-bottom: 1px solid #d9d9d9;
}

.storyItemMargin {
    margin-top: 10px;
    margin-left: 70px;
}

.commentItemContainer {
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;

    :global {
        .user-comment {
            .user-name {
                color: #1677ff;
                font-size: 16px;

                &:hover {
                    color: #69b1ff;
                }
            }

            .content {
                font-size: 18px;
            }

            .comment-utils {
                gap: 10px
            }

            .custom-like {
                &:hover {
                    color: var(--likes-color);
                    cursor: pointer;
                }
            }

            .reply {
                color: #1677ff;
                cursor: pointer;
                gap: 4px;

                &:hover {
                    color: #69b1ff;
                }
            }

        }
    }
}

.storyInput {
    padding-left: 66px;
}