.readingConfigContainer {
    width: 50px;
    position: fixed;
    left: 185px;
    top: 163px;

    :global {
        .readingConfigItem {
            font-size: 24px;
            height: 50px;
            border: 1px solid #d8d8d8;
        }

        .selectedReadingConfigItem {
            width: 63px;
            border-top: 1px solid #d8d8d8;
            box-shadow: 0 5px 20px rgba(0, 0, 0, .2);

            &>.icon-container>span {
                color: red;
            }
        }

        .list-chapter {
            position: relative;

            .icon-container {
                width: 100%;
                height: 100%;
                cursor: pointer;

                &:hover>span {
                    color: red;
                    cursor: pointer;
                }
            }
        }
    }
}