.NewStoryDetailListContainer {
    min-width: 854px;
    max-width: 854px;
    margin-top: 24px;
    margin-left: 18px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}

.newStoryDetailListItemsContainer {
    flex-wrap: wrap;
}

.newStoryDetailListRow {
    min-width: 427px;
    max-width: 427px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.storyItemContainer {
    max-width: calc(100% - 104px);
}

.newStoryDetailListItem {
    width: 100%;
}

.storyPosterContainer {
    margin-right: 24px;
}

.StoryPoster {
    height: 120px;
    width: 80px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.evenNumberStory {
    max-width: calc(100% - 104px - 15px);
    /*15px right-padding*/
}

.storyItemName {
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.StoryItemAuthor {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #111;
    font-size: 14px;
}

.storyItemOtherDetailContainer {
    margin-bottom: 8px;
    align-items: flex-end;
}

.storyItemTotalChapter {
    font-size: 18px;
    color: #dc3545;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.storyItemTotalViews {
    font-size: 18px;
    color: #4497f8;
    margin-left: 4px;
    display: flex;
    align-items: center;
}

.smallerText {
    padding-left: 4px;
    font-size: 12px;
}

.storyItemDescriptionContainer {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}