.registerTabContainer {
    gap: 10px;
    padding: 0px 50px;

    :global {
        .white-user-container {
            border-radius: 50%;
            background-color: black;
            height: 72px;
            width: 72px;

            .white-user {
                height: 48px;
                width: 48px;
            }
        }

        .register-Label {
            font-size: 18px;
        }

        .auth-input {
            border-radius: 0px !important;
            padding: 10px 10px !important;

            .default-icon {
                height: 24px;
                width: 24px;
                margin-right: 10px;
            }
        }

        .register-butt {
            width: 50%;
            height: 40px;
            border-radius: 0px !important;
            margin-top: 10px;
            font-size: 18px;
        }
    }
}