.container {
/* display: flex;
font-family: sans-serif;
flex-direction: column;
font-size: 13px; */

display: flex;                 
flex-direction: column;            
flex-wrap: nowrap;              
padding: 5px;
    width: 100%;
    margin: auto;
font-size: 16px;
color: rgba(0,0,0,0.88);
}


.sliderMusic {
    /* flex-wrap: nowrap; 
    align-items: center;
    justify-content: center; */
    padding: 20px;
    margin: 1px;
    font-weight: bold;
    align-items: center;           /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: center;    
}

.bottomMusic {
    padding: 20px;
    margin: 1px;
    font-weight: bold;
    display: flex;
}

.leftMusic {
    flex: 3;
    padding: 20px;
    margin: 1px;
    font-weight: bold;
}

.rightMusic {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 1px;
    font-weight: bold;
}
