.NewUpdatedStoryContainer {
    background-color: #f7f6f2;
    max-width: 284px;
    width: 284px;
    margin-top: 24px;
    padding: 8px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 36px;
}

.NewUpdatedStoryItemContainer {
    justify-content: space-between;
    text-decoration: none;
}

.NewUpdatedStoryItem {
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
}

.NewUpdatedStoryAt {
    max-width: 77px;
    min-width: 77px;
    font-size: 16px;
    color: #999;
}

.NewUpdatedStoryItemAuthor {
    color: #999;
    font-size: 16px;
    max-width: 210px;
    min-width: 210px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 8px;
    text-decoration: none;
}

.more {
    color: #1677ff;
}

.righArrow {
    margin-left: 4px;
    color: #1677ff;
}