.commentStoryInput {
    gap: 10px;
    position: relative;
    width: 100%;

    :global {
        .custom-but {
            background-color: var(--mainColor);
            color: white;
            width: 105px;
            height: 42px;
            align-self: flex-end;

            &:hover {
                background-color: var(--main-color-hover);
                color: white;
            }
        }

        .send-icon {
            font-size: 18px;
            position: absolute;
            top: calc(50% - 9px);
            right: 15px;

            &:hover {
                color: #1677ff;
                cursor: pointer;
            }
        }
    }
}

.paddingRight {
    padding-right: 50px !important;
}