.RegisterContainer {
    background-color: #f0f2f5;
    height: calc(100vh + 52px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.RegisterForm {
    background-color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.nameContainer {
    display: flex;
    width: 100%;
}

.firstNameButton {
    margin-right: 10px !important;
}

.messLogo {
    height: 100px;
    width: 100px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.genderContainer {
    flex-direction: row !important;
}