.container {
    --container-width: 850px;
    --infor-type-width: 140px;

    :global {
        .column-container {
            gap: 10px;
            width: var(--container-width);
            max-width: var(--container-width);

            .story-description {
                overflow-y: scroll;
                -webkit-line-clamp: 10;
                padding: 8px 18px;
                font-size: 16px;

                &:hover {
                    background-color: #f4f4f4;
                }
            }

            .other-infor {
                gap: 8px;

                .infor-type {
                    color: var(--light-gray);
                    font-size: 14px;
                    width: var(--infor-type-width);
                    max-width: var(--infor-type-width);
                }

                .infor-detail {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27.5px;
                    flex: 1;
                    border-bottom: 1px solid #d9d9d9;
                    padding-bottom: 10px;

                    .tag {
                        font-size: 18px;
                        font-weight: 100;
                    }
                }

                .new-chapter-color {
                    color: var(--views-color) !important;
                    font-weight: 500;
                }

                .infor-border {
                    padding: 1px 9px;
                    border: 2px solid #3f5a93;
                    border-radius: 15px;
                    min-width: 30px;
                    text-align: center;
                }

                .tag-container {
                    gap: 12px;
                }
            }
        }

    }
}