.userContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatarContainer {
    margin-right: 8px;
}

.userInfo {
    display: flex;
    max-width: calc(100% - 53px);
    flex: 1;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
}

.userInfoWithIcon {
    max-width: calc(100% - 74px);
}

.lastMessageContainer {
    display: flex;
    font-size: 13px;
    color: rgb(112, 113, 113);
    align-items: center;
}

.lastMessageUsername {
    max-width: 75px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
}

.lastMessage {
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
    max-width: 60%;
}

.dotSpace {
    margin-right: 5px;
    margin-left: 5px;
}

.lastMessageAt {
    min-width: 50px;
}

.iconHover {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    padding: 1px;
}

.iconHover:hover {
    background-color: rgb(239, 241, 245);
    cursor: pointer;
}

.conversationTitle {
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
}

.readTitle {
    font-weight: 600;
}

.readMessage {
    color: #1976d2;
    font-weight: 600;
}