.userContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatarContainer {
    margin-right: 8px;
}

.userInfo {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
}

.lastMessageContainer {
    display: flex;
    font-size: 13px;
    color: rgb(112, 113, 113);
}

.lastMessageUsername {
    margin-right: 2px;
}

.lastMessage {
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
    width: 125px;
}

.dotSpace {
    margin-right: 5px;
    margin-left: 5px;
}

.iconHover {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    padding: 1px;
}

.iconHover:hover {
    background-color: rgb(239, 241, 245);
    cursor: pointer;
}