:root {
  --mainColor: #2798A1;
}

body {
  margin: 0;
}

.px150 {
  padding-left: 150px;
  padding-right: 150px;
}

.resolution {
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

alignCenter {
  display: flex;
  align-items: center;
}