@font-face {
  font-family: yyicon;
  src: url(https://truyenyy-cdnx.yeuthanky.com/truyenyy/yyicon/fonts/yyicon.eot?ist0vx);
  src: url(https://truyenyy-cdnx.yeuthanky.com/truyenyy/yyicon/fonts/yyicon.eot?ist0vx#iefix) format("embedded-opentype"), url(https://truyenyy-cdnx.yeuthanky.com/truyenyy/yyicon/fonts/yyicon.ttf?ist0vx) format("truetype"), url(https://truyenyy-cdnx.yeuthanky.com/truyenyy/yyicon/fonts/yyicon.woff?ist0vx) format("woff"), url(https://truyenyy-cdnx.yeuthanky.com/truyenyy/yyicon/fonts/yyicon.svg?ist0vx#yyicon) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

:root {
  --mainColor: #2798A1;
}

body {
  margin: 0;
}

.px150 {
  padding-left: 150px;
  padding-right: 150px;
}

.resolution {
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.alignCenter {
  display: flex;
  align-items: center;
}