@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --mainColor: #2798A1;
}

body {
  margin: 0;
}

.px150 {
  padding-left: 150px;
  padding-right: 150px;
}

.resolution {
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
}

.flex {
  display: flex;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.flexOne {
  display: flex;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.alignCenter {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #FF2E2E;
}

a:hover * {
  color: #FF2E2E !important;
}

.long-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}